= form.label :destination, t(".destination") + "*", :class => "input"
= form.text_field(:destination, :class => "text_field required", :onkeyup => "timed_input(this)")
= form.fields_for :destination_loc do |loc1|
  = loc1.hidden_field :address, :value => destination_loc.address
  = loc1.hidden_field :google_address, :value => destination_loc.google_address
  = loc1.hidden_field :latitude, :value => destination_loc.latitude
  = loc1.hidden_field :longitude, :value => destination_loc.longitude
  = loc1.hidden_field :location_type, :value => destination_loc.location_type